@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@1,200;1,300;1,900&family=Rubik+Moonrocks&display=swap');
*{
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}
body{
    background-color:black;
    margin: 0px;
    padding: 0px;
}

nav{
    background:#0f0e0e;
    z-index:1001;
    position:fixed;
    width: 100%;   
    
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav img{
    float:left;
    padding:10px;
}

nav .logo{
    font-family: 'Lobster', sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1.5px;
    
}

nav .logo p{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    color: cadetblue;
    text-transform: uppercase;
}
nav:after{
    content: '';
    clear: both;
    display: table;

}
nav ul{
    float: right;
    list-style: none;
    margin-right: 100px;
    position: relative;
}
nav ul li{

    display: inline-block;
    background-color:#0f0e0e;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    line-height:70px;
    font-size: 18px;
    padding: 8px 15px;

}
nav ul ul{
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
    border-top: 3px solid cadetblue;

}
nav ul ul ul{
    border-top: none;
}
nav ul li a:hover{
    color: cadetblue;
    border-radius: 5px;
    box-shadow: 0 0 5px cadetblue,
                0 0 5px cadetblue;

}
nav ul li:hover > ul{
    top:70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,.3);
}
nav ul ul li a:hover{
    color: cadetblue;
    box-shadow: none;
}
nav ul ul li a{
    line-height: 50px;
}
nav ul ul ul li{
    position: relative;
    top: -70px;
    left:150px;
}

.show{
    display: none;
}
.fa-bars{
    margin-left: 40px;
    font-size: 15px;
}

.headnav{
    position: fixed;
    z-index:1001;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
}

.logo{
    font-size: 6rem;
    color: #1b1b1b;
    margin:auto
}

@media all and (max-width: 968px){
    nav ul{
       margin-right: 0px;
       float: left;
       
   }
   nav img{
       padding-left: 30px;
       width: 30%;
       
   } 
   nav ul li,nav ul ul li{
       display: block;
       width:100%;
       
   }

   nav ul ul{
       top: 70px;
       position: static;
       border-top: none;
       float: none;
       display: none;
       opacity: 1;
       visibility: visible;
   } 
   .show{
       display: block;
       color: white;
       font-size: 18px;
       padding: 0 20px;
       line-height: 70px;
       cursor: pointer;

   } 
   nav ul ul ul li{
       position: static;
   }
   nav ul ul ul a{
       padding-left:80px;
   }
   nav ul ul ul ul a{
       padding-left:120px;
   }
   nav ul ul a{
       padding-left:40px;
   }
   na ul ul li{
       border-bottom: 0px;
   }
   
    .show:hover{
       color:cadetblue;
   }
   nav ul li a:hover{
       box-shadow: none;
   }
   .icon{
       display: block;
       color: white;
       position: absolute;
       right: 40px;
       line-height: 70px;
       cursor: pointer;
       font-size:25px;
       

   } 

   .show + a, ul{
       display: none;
   }

   [id^=btn]:checked + ul{
       display: block;
   }
     
   

} 
.part1{
    position: relative;
}    
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }body
  {
    background-color: black;
    color: white;
    overflow-x: hidden;
    font-weight: 10px;
      background-attachment: fixed;
      background-repeat: no-repeat;
  
}
  
  .bg-image {
    
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat,repeat-x,repeat-y;
    background-size: cover;
    margin-top: auto;
    height: 100%;
    width: 100%;
  }
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
 
.WELLCOME{
text-align: center;
font-size: 25px;
color: azure;
color: rgba(255, 255, 255, 0.978);
text-shadow: 2px 2px 10px rgb(0, 119, 255),0 0 30px rgb(255, 3, 179);
}
.introduction{
    font-size: 30px;
}
#button{
    background-color: rgb(119, 133, 122);
    border-color: coral;
    color: black;
    padding: 15px 30px 15px 30px;
    align-items: center;
    justify-content: center;

}
.btn-hover{
    width: 200px;
    right: 500px;
    left: 400px;
    font-size: 16px;
    font-weight: 600px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 50px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
   
    
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

}
.btn-hover:hover{
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .5s ease-in-out;

}
.btn-hover.color-1{
    background-image: linear-gradient(to right, #e12b25, #d4e440, #dd30b2, #2b34b6);
    box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 0.75);
}
.backtotop
{
  float: right;
}

#instagram
{
	fill:none;
	stroke:#fff;
	stroke-miterlimit:10;
	stroke-width:4px;
}
#instagram:hover rect, #instagram:hover circle
{
	stroke: #EA0C5F;
}

#facebook:hover rect
{
	fill:#3B5998;

}

#youtube:hover rect
{
	fill:#FF0000; 
}

#twitter:hover path
{
	fill:#00ACEE; 
}
#spotify:hover circle
{
	fill:#1ed760; 
}
.secondpart
{
	background-color: #262525;
}

.button{
	text-align: center;
  outline: none;
  display: block;
  border: solid 1px cadetblue;
  font-size: 16px;
  padding: 4%;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover,
.button:focus{
    background: darkcyan;
    color: black;
}

.button:active{
    background: #000000;
    color: white;
}
#devbutton
{
	font-size: 30px;
	font-weight: 80px;
}

#logoimg
{
	width: 25%;
	padding-bottom: 10px;
  margin-left: 40%;

}

.column1 {
  float: left;
  width: 100%;
  padding: 10px;
}

.row1:after {
  content: "";
  display: table;
  clear: both;

}
.row1
{
	background-color: #0f0e0e;
}

.column2 {
  float: left;
  width: 60%;
  padding-top:30px ;
   margin-left: 20px;
}
.column3 {
  float: right;
  width: 25%;
  margin-right: 20px;
}

.column2 a 
{
	padding: 15px;
}

.column4 {
  float: left;
  padding: 10px;
  margin-left: 3%;
}
.row2
{
	background-color: #262525;
}
.row2:after {
  content: "";
  display: table;
  clear: both;

}
.column5 {
  float: right;
  width: 10%;
  margin-right: 3%;
}
a 
{
  color: white;
  text-decoration: none;
}
