*{
    margin:  0;
    padding: 0;

}
.header{
     min-height:100 ;
     width: 100% ;
     background-image:  url("../images/justin.jpg");
     background-position: center;
     background-size: cover;
     position: relative;
} 