@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@1,200;1,300;1,900&family=Rubik+Moonrocks&display=swap');
*{
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}
body{
    background-color:black;
    margin: 0px;
    padding: 0px;
}

nav{
    background:#0f0e0e;
    z-index:1001;
    position:fixed;
    width: 100%;   
    
}
nav img{
    float:left;
    padding:10px;
}

nav .logo{

    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1.5px;
    
}

nav .logo p{
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
    float: left;
    color: cadetblue;
    text-transform: uppercase;
}
nav:after{
    content: '';
    clear: both;
    display: table;

}
nav ul{
    float: right;
    list-style: none;
    margin-right: 100px;
    position: relative;
}
nav ul li{
    float:none;
    display: inline-block;
    background-color:#0f0e0e;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    line-height:70px;
    font-size: 18px;
    padding: 8px 15px;

}
nav ul ul{
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
    border-top: 3px solid cadetblue;

}
nav ul ul ul{
    border-top: none;
}
nav ul li a:hover{
    color: cadetblue;
    border-radius: 5px;
    box-shadow: 0 0 5px cadetblue,
                0 0 5px cadetblue;

}
nav ul li:hover > ul{
    top:70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,.3);
}
nav ul ul li a:hover{
    color: cadetblue;
    box-shadow: none;
}
nav ul ul li a{
    line-height: 50px;
}
nav ul ul ul li{
    position: relative;
    top: -70px;
    left:150px;
}

