nav{
    background:#0f0e0e;
    z-index:1001;
    position:fixed;
    width: 100%;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav img{
    float:left;
    padding:10px;
}

nav .logo{
    font-family: 'Lobster', sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1.5px;

}

nav .logo p{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    color: cadetblue;
    text-transform: uppercase;
}
nav:after{
    content: '';
    clear: both;
    display: table;

}
nav ul{
    float: right;
    list-style: none;
    margin-right: 100px;
    position: relative;
}
nav ul li{

    display: inline-block;
    background-color:#0f0e0e;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    line-height:70px;
    font-size: 18px;
    padding: 8px 15px;

}
nav ul ul{
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
    border-top: 3px solid cadetblue;

}
nav ul ul ul{
    border-top: none;
}
nav ul li a:hover{
    color: cadetblue;
    border-radius: 5px;
    box-shadow: 0 0 5px cadetblue,
                0 0 5px cadetblue;

}
nav ul li:hover > ul{
    top:70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,.3);
}
nav ul ul li a:hover{
    color: cadetblue;
    box-shadow: none;
}
nav ul ul li a{
    line-height: 50px;
}
nav ul ul ul li{
    position: relative;
    top: -70px;
    left:150px;
}

.show{
    display: none;
}
.fa-bars{
    margin-left: 40px;
    font-size: 15px;
}

.headnav{
    position: fixed;
    z-index:1001;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
}

.logo{
    font-size: 6rem;
    color: #1b1b1b;
    margin:auto
}

@media all and (max-width: 968px){
    nav ul{
       margin-right: 0px;
       float: left;

   }
   nav img{
       padding-left: 30px;
       width: 30%;

   }
   nav ul li,nav ul ul li{
       display: block;
       width:100%;

   }

   nav ul ul{
       top: 70px;
       position: static;
       border-top: none;
       float: none;
       display: none;
       opacity: 1;
       visibility: visible;
   }
   .show{
       display: block;
       color: white;
       font-size: 18px;
       padding: 0 20px;
       line-height: 70px;
       cursor: pointer;

   }
   nav ul ul ul li{
       position: static;
   }
   nav ul ul ul a{
       padding-left:80px;
   }
   nav ul ul ul ul a{
       padding-left:120px;
   }
   nav ul ul a{
       padding-left:40px;
   }
   na ul ul li{
       border-bottom: 0px;
   }

    .show:hover{
       color:cadetblue;
   }
   nav ul li a:hover{
       box-shadow: none;
   }
   .icon{
       display: block;
       color: white;
       position: absolute;
       right: 40px;
       line-height: 70px;
       cursor: pointer;
       font-size:25px;


   }

   .show + a, ul{
       display: none;
   }

   [id^=btn]:checked + ul{
       display: block;
   }



}
.part1{
    position: relative;
}